.cartContents {
  display: grid;
  grid-template-columns: 2fr, 1fr;
  padding: 1rem;
  justify-content: center;
  gap: 1rem;
}

.cartItem {
  display: grid;
  grid-column: 1;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 2px 1px rgb(0 0 0 / 10%);
  background-color: white;
}

.pricing {
  display: grid;
  gap: 1rem;
}

.checkout {
  padding-left: 2rem;
  padding-right: 2rem;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkoutBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: rgba(129, 178, 154, 0.25);
}

#checkoutBtn:hover {
  border-color: rgba(129, 178, 154, 0.5);;
}

.adjustButtons {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: .4rem;
}

.add, .remove {
  border: none;
  border-radius: 50%;
  padding: .15rem;
  font-size: large;
}

.add:hover, .remove:hover {
  background-color: rgba(129, 178, 154, 0.25);
}
