header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(242, 204, 143, 0.35); /* #F2CC8F */
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #3D405B;
}

#cart {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  background-color: rgba(224, 122, 95, 0.15);
  padding: 2rem;
}
#cart:hover {
    background-color: rgba(224, 122, 95, 0.1);
}
